{% extends 'base.html' %}{% load crispy_forms_tags %}{% load bootstrap3 %}{% load static %}
{% block bodyblock %}

<!-- Password reset confirm -->
<!-- Not currently in use! -->
<!-- Password reset in development -->

<div class="container filled">
  <h2 class="text-center"><b>Sign In</b></h2>
  <form class="form-signin" method="POST">
    {% csrf_token %}

    <fieldset class="form-group">
      <br />
      {{ form|crispy }}
    </fieldset>

    <div class="form-group">
      <div class="text-center">
        <button
          class="btn btn-block btn-primary text-uppercase"
          type="submit">
        Confirm Reset Password
        </button>
      </div>
    </div>

    <small><p class="text-center">
      Nevermind! I'll
      <a href="{% url 'accounts:login' %}"><b>Login</b></a>
      or
      <a href="{% url 'accounts:register' %}"><b>Register!</b></a>
    </p></small>
  </form>
</div>

{% endblock %}
