{% extends 'base.html' %}{% load crispy_forms_tags %}{% load bootstrap3 %}{% load static %}
{% block bodyblock %}

<!-- Registration page -->

<div class="container filled">
  <div class="row">
    <div class="container">
      <h2 class="card-title text-center"><b>Sign Up!</b></h2>
      <form class="form-signin" method="POST">
        <!-- Sign up form -->
        {% csrf_token %}
        <fieldset class="form-group">
          <br/>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button
          class="btn btn-lg btn-primary btn-block text-uppercase"
          type="submit"
          >
          Sign Up</button>
          <br/><br/>
        </div>

        <small>
          <p class="text-center">
            Already Registered!
          <a href="{% url 'accounts:login' %}"><b>Login Now!</b></a>
          </p>
        </small>
      </form>
    </div>
  </div>
</div>
<br><br>

{% endblock %}
