{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="container">


  <h1 class="chill pop">Group: {{group.name}}</h1>
  <h4 class="cool pop">Member Count: {{group.members.count}}</h4>

  <div class="content">
    <!-- If user is inside list of members -->
    {% if user in group.members.all %}
      <a href="{% url 'posts:create' %}"
        class="btn btn-fill btn-info btn-sm chill"><span
        class="glyphicon glyphicon-ok-circle"></span> Create Post</a>

      <a href="{% url 'groups:leave' slug=group.slug %}"
        class="btn btn-fill btn-warning btn-sm chill"><span
        class="glyphicon glyphicon-remove-circle"></span> Leave</a>
    {% else %}
      <a href="{% url 'groups:join' slug=group.slug %}"
        class="btn btn-fill btn-default btn-sm chill"><span
        class="glyphicon glyphicon-ok-circle"></span> Join</a>
    {% endif %}

  </div>
  <br>

</div>
{% endblock %}

{% block group_content %}
<div class="container">

  <div class="col-md-8">
    {% if group.posts.count == 0 %}
      <h2 class="cool pop">No posts in this group yet!</h2>
    {% else %}
      {% for post in group.posts.all %}
        {% include "posts/_post.html"%}
        <br>
      {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}
