{% extends "groups/group_base.html" %}


  {% block pregroup %}
  {% if user.is_authenticated %}
    <div class="col-md-4">
      <div class="content">

      <h2 class="chill pop">Welcome Back!
        <a class="pop" href="{% url 'posts:for_user' username=user.username %}">
          @{{user.username}}
        </a>
      </h2>
      <h4 class="chill pop">Welcome to the groups page!</h4>
    </div>
    <br>
    <a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-default chill">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Create New Group
    </a>
    </div>

  {% else %}
        <div class="jumbotron">
          <h1 class="cool" >Welcome to Punk Social!</h1>
          <h3 class="chill">Please <a href="{% url 'accounts:login' %}">Login</a> or <a href="{% url 'accounts:signup' %}">Sign Up!</a></h3>

        </div>

  {% endif %}

  {% endblock %}

  {% block group_content %}

  {% if user.is_authenticated %}
  <div class="col-md-8">
  {% endif %}
    <div class="list-group">
      <h3 class="chill pop">Groups:</h3>
      {% for group in object_list %}
      <a href="{% url 'groups:single' slug=group.slug %}" class="list-group-item">
        <h3 class="title list-group-item-heading chill pop">{{group.name}}</h3>
        <div class="list-group-item-text container-fluid" >
          {{group.description_html|safe}}
          <div class="row">

            <div class="col-md-4">
              <span class="badge">{{group.members.count}}</span>
              Member{{group.members.count|pluralize}}

              <span class="badge">{{group.posts.count}}</span>
              Post{{group.posts.count|pluralize}}
            </div>

          </div>

        </div>
      </a>
      <br>
      {% endfor %}

    </div>

  </div>
  {% endblock %}
